@import url('https://fonts.googleapis.com/css?family=Nixie+One');
/*
    Author :
    File   : main.css
    Date   :
    Mod    :
    Purpose: The purpose of this to demonstrate
        how javaScript, jQuery,
        and animations inside
        of CSS3 can be used to
        make unique elements
        for a webpages.

    This lab will make a
    neon sign that flickers
*/
body, html {

}
body {

}

div {
}

@-webkit-keyframes neon {
    from {
    }
    to {
        
    }
}

@-webkit-keyframes off {
    from {
    }
    to {
    }
}

@-moz-keyframes neon {
    from {
    }
    to {
    }
}

@-moz-keyframes off {
    from {
    }
    to {
    }
}

@keyframes neon {
    from {
    }
    to {
    }
}

@keyframes off {
    from {
    }
    to {
    }
}

